/* GENERAL STYLES */
.homeWrap {
    width: 100%;
    min-height: 100vh;

    display: flex;
}

/* ASIDE */

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.3;

    height: 100vh;
    padding-block: 5vw;

    background: #04050D;

    position: relative;
}

.aside .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.aside .profile h2 {
    font-size: 2.5rem;
    color: #D2E2DC;
    letter-spacing: 1px;
}

.aside .socialmedias {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.aside .socialmedias a {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2rem;

    position: relative;
}

.aside .socialmedias span {
    font-size: 1rem;
    margin-left: 0.5rem;

    position: absolute;
}

.creationDate {
    font-size: 1rem;
    text-align: center;
}


/* ABOUT */

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;

    padding-left: 5rem;
    padding-block: 10rem;

    background: #010D26;

}

.home h3 {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #D2E2DC;
}

.home li,
.home p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2rem;
    list-style: none;

    margin-top: 2rem;
}

.home li {
    padding-block: 1rem;
}

.home .aboutWrap,
.home .goalsWrap {
    width: 30%;

    position: relative;
}

.home button {
    position: absolute;
    top: 5px;
    right: 30px;

    font-size: 1.8rem;

    background: none;
    border: none;

    cursor: pointer;

    transition: .3s linear;
}

.home button:hover {
    transform: rotate(-15deg);
}

/* List items */

.goalsWrap li {
    max-height: 4rem;
}

.goalsWrap li,
.goalsWrap li span:first-child {
    position: relative;
}



.isHovered::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: calc(100% + 1rem);
    height: 100%;

    background: #d2e2dc1c;
}

.isHovered span:last-child {
    position: absolute;
    right: 0;
    top: 10px;


}

.isHovered span:last-child svg {
    font-size: 1.6rem;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s linear;
}

.isHovered span:last-child svg:hover {
    transform: scale(1.2);
}

.goalsWrap input[type="text"] {
    position: relative;
    display: block;
    left: -10px;
    bottom: 10px;

    width: calc(100% + 1rem);
    height: 40px;
    padding-left: 10px;
    padding-block: 1rem;
    background: #d2e2dc1c;
    border: none;

    font-size: 1.3rem;
    letter-spacing: 1px;


}

.listButtons {
    position: absolute;
    top: 0;
    right: -52px;
}

.listButtons svg {
    font-size: 1.5rem;
    margin-left: 15px;
    cursor: pointer;

    transition: .2s linear;
}

.listButtons svg:hover {
    transform: scale(1.3);
}

.listButtons svg:first-child {
    font-size: 1.2rem;
}

.listButtons svg:last-child {
    position: relative;
    top: 2px;
}


.goalsWrap input[type="text"]:focus {

    outline: none;
}